<!-- Events-->
<!-- <h1>Hello Angular! </h1> 
<h2>{{title}}</h2>
<br>
<button (click)="getData('hello')">Call Function </button>
<br>
<br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup"/>
<br><br>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown"/>
<br><br>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur"/>
<br><br>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input"/>
<br><br><br>

<button (mouseover)="getData('over')">mouseover</button>
<br>
<br>
<button (mouseleave)="getData('leave')">mouseleave</button>
<br>
<app-home></app-home>
<br>
<hr>
<!-- Get Input Box value -->
<!-- 
<h1>{{title1}}</h1>
<input type="text"
 #boxx placeholder="Enter Name"
  name="name"/>
<button (click)="getValue(boxx.value)" >click</button>

<p>
  Box Value is:  {{displayVal}}
</p>
<br><br><hr>


<h1>{{title2}}</h1>
<button (click)="counter('minus')">--</button>
<p>
    count is :{{count}}
</p>
<button (click)="counter('add')">++</button>
<br><br><hr>

<!- Basic Style -->
<!-- <h1 class="heading">{{title3}}</h1>

 <style>
    .heading{
        color: blue;
    }
 </style>

<app-login></app-login>
<br><br><hr> -->

<h1>{{title4}}</h1>
<input type="text" name="user name" value="{{name}}" disabled={{disable}}/>
<br><br>
<input type="text" name="user name" [value]="name" [disabled]=disable/>

<br><hr>

<!-- If-else Condition -->
<h1>{{title5}}</h1>
<h1 *ngIf="show; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
  <h1>If Condition</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>Else Condition</h1>
</ng-template>
<br><br><hr>

<!-- else-if condition -->
<h1>{{title6}}</h1>
<ng-template [ngIf]="color==='red'">
  <h1 style="color:red;">Red color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
  <h1 style="color:green;">Green color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
  <h1 style="color:blue;">blue color</h1>
</ng-template>
<br><br><hr>

<!-- switch condition -->
 <h1>{{title7}}</h1>

<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red;">Red color</h1>
  <h1 *ngSwitchCase="'green'" style="color: green;">Green color</h1>
  <h1 *ngSwitchCase="'orange'" style="color: orange;">Orange color</h1>
  <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue color</h1>
  <h1 *ngSwitchCase="'pink'" style="color: pink;"> Pink color</h1>
  <h1 *ngSwitchCase="'purple'" style="color: purple;">Purple color</h1>
  <h1 *ngSwitchDefault>Invalid</h1>
</div>
<br><br><hr>

<!-- for loop -->
 <h1><u>{{title8}}</u></h1>
 <h3 *ngFor="let item of users">{{item}}</h3>

 <h2 *ngFor="let data of userDetails"> {{data.name}}--{{data.email}}--{{data.phone}}</h2>
<br><br><hr><br><br>

<h1><u>{{title9}}</u></h1>
<ul *ngFor="let user of user">
<li>Name:{{user.name}}</li>
<li>Contact:{{user.phone}}</li>
<li>Social Accounts</li>

<ul *ngFor="let account of user.socialAccounts">
<li>{{account}}</li>

</ul>

</ul>
<br><br><hr><br>

<h1 [style.color]="color" [style.backgroundColor]="bgColor">{{title10}}</h1>
<button (click)="updateColor()">Update Color</button>  

<br><br><br>


<app-header></app-header>
<h1>{{title11}}</h1>

























